.box{
    padding:0px 30px;
    background-color: transparent;
    min-height:80px;
}
.selectDropdown{
    background-color: antiquewhite;
    border: 0px;
    max-width: 20px;
}
/* #Dropdown option{
    background-color: #fff !important;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
#Dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#Dropdown option:hover {
    background-color: #ddd;
  }

.dropButton:hover #Dropdown {
    display: block;
  }

  .dropButton #Dropdown{
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } */